<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/Images/twitterLogo.png" alt="Twitter" width="40" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 navItems" >
        <li class="nav-item" style="margin-left: 255px;">
          <a class="nav-link active" aria-current="page" href="#"><h5>Home</h5></a>
        </li>
         <li style="margin-left: 310px;">
            <a class="navbar-brand" href="#">
      <img src="/Images/sparkle.png" alt="Twitter" width="30" height="30">
    </a>
         </li> 
       
      </ul>
      <form class="d-flex" role="search">
  <span class="input-group-text border-0" id="search-addon" style="background-color: white;">
    <i class="bi bi-search searchIcon"></i>
  </span>
        <div class="input-group  searchBox">
  <input type="search" class="form-control inputBox" placeholder="Search Twitter" aria-label="Search" aria-describedby="search-addon" />
</div>
      </form>
    </div>
  </div>
</nav>