.imgChangeBox {
    
    width: 30%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: white; */
    border-radius: 10px;
    margin-top: 170px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 35px 35px 70px #5a5a5a, -35px -35px 70px #ffffff;
    
}
#saveBtn {
    border: none;
    background-color: black;
    padding: 6px 20px;
    border-radius: 24px;
    color: white;
}