.signupBox {
    width: 50%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: white; */
    border-radius: 10px;
    margin-top: 65px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 35px 35px 70px #5a5a5a, -35px -35px 70px #ffffff;
}
.signupBtn {
    border: none;
    background-color: black;
    padding: 6px 20px;
    border-radius: 24px;
    color: white;
    width: 20%;
}
.signinBtn {
    border: none;
    color: white;
    background-color: black;
    padding: 6px 20px;
    border-radius: 24px;
}